.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color:#3a4346;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .footer p{
      color:white;
      font-size: 18px;
      text-align: center;
  }
 
